[submodule "htdocs/lib/angular-ui"]
	path = htdocs/lib/angular-ui
	url = https://github.com/angular-ui/angular-ui.git
[submodule "htdocs/lib/select2"]
	path = htdocs/lib/select2
	url = https://github.com/ivaynberg/select2.git
[submodule "htdocs/lib/ng-grid"]
	path = htdocs/lib/ng-grid
	url = https://github.com/angular-ui/ng-grid.git
[submodule "htdocs/lib/angular-highcharts-directive"]
	path = htdocs/lib/angular-highcharts-directive
	url = https://github.com/Ecodev/angular-highcharts-directive
[submodule "htdocs/lib/angular-http-auth"]
	path = htdocs/lib/angular-http-auth
	url = https://github.com/witoldsz/angular-http-auth.git
