/config/autoload/*.local.php
/config/autoload/local.php
/data/backup/*.gz
/data/cache/
/data/logs/
/docs/api/
/docs/_build/
/docs/content/img/*.pdf
/htdocs/css/
# htdocs/lib/*
!/htdocs/lib/autoload/
/htdocs/tmp/
/nbproject/private/
/node_modules/
/Population_2014_JMP.xlsx
/population.backup.gz
/reset.sh
/vendor/
._*
.DS_Store
.idea
.~lock.*
*.uml~