config/autoload/*.local.php
config/autoload/local.php
data/cache
docs/api
docs/_build
data/logs
htdocs/css
htdocs/tmp
htdocs/lib/*
!htdocs/lib/autoload
nbproject/private
node_modules
vendor
reset.sh
._*
.DS_Store
.~lock.*
*.uml~
.idea
data/backup/*.gz
Population_2012_JMP.xls
population.backup.gz
