config/autoload/*.local.php
config/autoload/local.php
data/cache
docs/api
docs/_build
docs/content/img/*.pdf
data/logs
htdocs/css
htdocs/tmp
# htdocs/lib/*
!htdocs/lib/autoload
nbproject/private
node_modules
vendor
reset.sh
._*
.DS_Store
.~lock.*
*.uml~
.idea
data/backup/*.gz
Population_2014_JMP.xlsx
population.backup.gz
