<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./tests/Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="application">
            <directory>./tests/ApplicationTest</directory>
        </testsuite>
        <testsuite name="api">
            <directory>./tests/ApiTest</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <!-- Include only our own code for code coverage statistics -->
            <directory>./module</directory>
        </whitelist>
    </filter>

    <logging>
        <!--<log type="coverage-html" target="./data/logs/tests/report" charset="UTF-8" yui="true" hightlight="true" lowupperbound="50" highlowerbound="80"></log>-->
    </logging>

</phpunit>
