// Sticky footer, according to http://www.cssstickyfooter.com/using-sticky-footer-code.html

$imageHeight: 30px;
$paddingHeight: 5px;
$footerHeight: $imageHeight + $paddingHeight + $paddingHeight;

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: $footerHeight;
}

.footer {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: $footerHeight;

    text-align: center;
    padding-top: 5px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    p {
        height: $imageHeight;
        margin-bottom: 0;
        small {
            padding-top: 10px;
            display: inline-block;
        }
    }
}
