$padding: 5px;
$border: 1px;

.table-filter {
    display: flex;

    [vs-repeat] {
        overflow: auto;
        position: relative;
    }

    #questionnairesHeaderSection{
        overflow-x:hidden;
        overflow-y:scroll;
    }

    #filtersSectionHeader, #questionnairesHeaderSection{
        border-bottom: $border solid $table-border-color;
    }

    #filtersSection {
        overflow:auto;
    }


    .column {
        display: inline-block;
    }

    .column-questionnaire{
        overflow:hidden !important;
    }

    #column-questionnaires{
        overflow:auto;
    }

    #column-filter {
        flex: 0 0 500px;
        overflow-y:hidden;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 464px;
            z-index: 19;
            width: 50px;
            height: 100%;
            pointer-events: none;
            box-shadow: 10px -10px 10px -10px;
        }
    }

    .table-filter-row {
        border-bottom: $border solid $table-border-color;
        border-right: $border solid $table-border-color;
        height: 30px + 2 * $padding + $border;
        border-collapse: collapse;
        padding: $padding;

        // Show buttons only when hover
        .fa-pencil, .removeButton { visibility: hidden; }
        &.filter-label{line-height:2.25em;}
        &:hover .removeButton, &:hover .fa-pencil { visibility: visible; }

        &.large {
            height: 150px;
            textarea {
                height: 140px;
            }
        }

        &.header {
            background-color: $table-bg-hover;
        }
    }

    // Those two width should be kept in sync with TableFilter.setQuestionnaireWidth()
    .filter-value {
        width: 150px;
        display: inline-block;
        margin-right:4px;

        &:last-child{
            margin-right:0;
        }

        &.filter-value-container {
            border-right: 1px solid $table-border-color;
            &:last-child {
                border-right:none;
            }
        }

    }

    .question-label{
        width: 300px;
        display: inline-block;
    }
}

.is-computing .computable {
    @extend .text-primary;
}

.qualitySlider .ui-slider-range{

    background: #a4e7a4; /* default green */

    &[style*="80%"],
    &[style*="90%"] ,
    &[style*="100%"]
    {
        background: #a4e7a4;
    }

    &[style*="40%"],
    &[style*="50%"],
    &[style*="60%"],
    &[style*="70%"],
    {
        background: #e7d8a4;
    }

    &[style*="10%"],
    &[style*="20%"],
    &[style*="30%"],
    {
        background: #e7a4a4;
    }
}