$padding: 5px;
$border: 1px;

.table-filter {
    display: flex;

    [vs-repeat] {
        overflow: auto;
        position: relative;

    }

    .column {
        display: inline-block;
    }

    .column-filter {
        flex: 0 0 500px;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 464px;
            z-index: 19;
            width: 50px;
            height: 100%;
            pointer-events: none;
            box-shadow: 10px -10px 10px -10px;
        }
    }

    .table-filter-row {
        border-bottom: $border solid $table-border-color;
        border-right: $border solid $table-border-color;
        height: 30px + 2 * $padding + $border;
        border-collapse: collapse;
        padding: $padding;

        // Show buttons only when hover
        .fa-pencil, .removeButton { visibility: hidden; }
        &:hover .removeButton, &:hover .fa-pencil { visibility: visible; }

        &.large {
            height: 150px;
            textarea {
                height: 140px;
            }
        }

        &.header {
            background-color: $table-bg-hover;
        }
    }

    // Those two width should be kept in sync with TableFilter.setQuestionnaireWidth()
    .filter-value {
        width: 240px;
        display: inline-block;
    }
    .question-label{
        width: 300px;
        display: inline-block;
    }
}

.is-computing .computable {
    @extend .text-primary;
}