// I gather this file is a starting point for the project.
@import "bootstrap";

// According to Twitter Bootstrap recommendation, add padding before responsive for .navbar-fixed-top
body {
    padding-top: 40px;
}

input.error {
    border-color: #b94a48 !important;
    color: #b94a48 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.form-metadata {
    color: #808080;
    font-size: 80%;
}

// Include responsive Bootstrap styles
@import "bootstrap-responsive";
@import "font-awesome";
@import "ng-grid";
@import "splash";
@import "sticky-footer";

html {
    overflow-y: scroll;
    // Force vertical scrollbar
}

.icon-loading {
    &.hide {
        display: none !important;
    }

    @extend .icon-refresh;
    @extend .icon-spin;
}

.icon-survey {
    @extend .icon-folder-open-alt
}

.icon-filterset {
    @extend .icon-tags
}

.icon-questionnaire {
    @extend .icon-file
}

.column-loading {
    text-align: center;
}


.nav-pills-icon {
    text-align: center;
}

div.browse .span4 {
    text-align: center;
    .nav-pills-icon {
        display: inline-block;
    }
}


.container-angular > .container {
    margin-top: 2em;
}

.modal.loginWindow {
    width: 60%;
    margin-left: -30%; /* -width/2 */
}

.gridStyle {
    height: 1000px; // Use super big height, so the auto-resize works correctly
}

// Automatically insert '>' between breadcrumbs
.breadcrumb {
    li:after {
        content: ' > ';
        color: #ccc;
    }
    li:last-child:after {
        content: '';
    }
}

.tab-content {
    overflow: visible;
}

.icon-grid {
  padding-right: 10px;
}

.logo-chart {
  height: 38px;
  padding-left: 20px;
}

.popover {
  max-width: 500px !important;
}