// I gather this file is a starting point for the project.
@import "bootstrap";
@import "bootstrap-customization";

// According to Twitter Bootstrap recommendation, add padding before responsive for .navbar-fixed-top
body {
    padding-top: 40px;
}

input.error {
    border-color: #b94a48 !important;
    color: #b94a48 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.show-grid{margin-bottom:15px}

.form-metadata {
    color: #808080;
    font-size: 80%;
}

@import "font-awesome";
@import "ng-grid";
@import "splash";
@import "sticky-footer";
@import "colorpicker";

// Force vertical scrollbar
html {
    overflow-y: scroll;
}

.fa-gims-loading {
    &.hide {
        display: none !important;
    }

    @extend .fa-refresh;
    @extend .fa-spin;
}


.fa-gims-filterset {
    @extend .fa-tags;
}

.fa-gims-filter {
    @extend .fa-tag;
}

.fa-gims-survey {
    @extend .fa-check-square-o;
}


.fa-gims-questionnaire {
    @extend .fa-paste;
}

.opacity33{
    @include opacity(0.33);

}

.column-loading {
    text-align: center;
}

.nav-pills-icon {
    text-align: center;
}

div.browse .col-md-4 {
    text-align: center;
    .nav-pills-icon {
        display: inline-block;
    }
}

.container-angular > .container {
    margin-top: 2em;
}

.loggedInUser {
    margin: 0;
}
.loginButton {
    margin-top: 8px;
}

.gridStyle {
    height: 1000px;
    // Use super big height, so the auto-resize works correctly
}

.tab-content {
    overflow: visible;
}

.fa-grid {
    padding-right: 10px;
}

.logo-chart {
    height: 38px;
    padding-left: 20px;
}

.popover {
    max-width: 500px !important;
}

#questionnaireNav > ul {
    padding-top: 20px;
}

#questionnaireNav ul {
    margin-bottom: 5px;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

#questionnaireNav ul ul {
    display: none;
}

#questionnaireNav ul ul li {
    padding-left:1em;
}

#questionnaireNav a {
    display: block;
    margin: 0 0 2px 0;
}

#questionnaireNav li.active_parent > a {
    background: #ddd;
}

#questionnaireNav li.active> a {
    /*    background:#003bb3;*/
}

#questionnaireNav li.active_parent > div > gims-questions-nav > ul,
#questionnaireNav li.active > div > gims-questions-nav > ul {
    display: block;
}

#questionnaireNav .potentialEmptyUl.mask {
    display: none !important;
    border: 1px solid red;
}

#questionnaireNav .nav {
    margin-bottom: 0 !important;
}

/* Links with .button class is not allowed in .navbar so this instruction override default behavior*/
.navbar .nav > li > a.btn.btn-default{
    color:#333;
    text-shadow:none;
    padding:4px 12px;
    background-color:#E6E6E6;
}


.badge-little {
    padding:0 !important;
    height:15px !important;
    width:15px !important;
    border:1px solid white
}

#chartPanel{
    position:fixed;
    @media (max-width: $screen-xs-max) {position:static}

    z-index:999;
    height:100%;
    top:52px;
    right:0;
    background:white;
    box-shadow:0px 2px 5px rgba(0,0,0,0.5);
    overflow: scroll; overflow-x:hidden;
    padding-bottom:100px;
}

.gridStyle{
    border: 1px solid rgb(212,212,212);
}

/* Extend select 2 advanced template */
.select2list .select2-search-choice {
    display:block !important;
    float:none !important;
    margin-right:5px !important;
    margin-bottom:5px !important;
    background:none !important;
    border:none !important;
    -webkit-border-radius:0 !important;
}

.select2-results .hide-in-results{
    display:none ;
}

.select-label{
    line-height:1.75em;
}

.select-label-with-icon{
    padding-left: 2em !important;
    text-indent: -0.6em !important;
}


/* Differs local, dev and production instances */

body.demo {
    .navbar-fixed-top {
        @include background(repeating-linear-gradient(-45deg, $navbar-inverse-bg,$navbar-inverse-bg 30px, #7C0400 30px, #7C0400 60px));

        .§navbar-brand:before {
            content: 'DEMO VERSION ';
            font-weight: bolder;
            color: white;
        }
    }
}

body.local {
    .navbar-fixed-top {
        @include background(repeating-linear-gradient(-45deg, $navbar-inverse-bg,$navbar-inverse-bg 30px, #075f7f 30px, #075f7f 60px));

        .navbar-brand:before {
            content: 'LOCAL VERSION ';
            font-weight: bolder;
            color: white;
        }
    }
}