// I gather this file is a starting point for the project.
@import "bootstrap";
@import "bootstrap-customization";

// According to Twitter Bootstrap recommendation, add padding before responsive for .navbar-fixed-top
body {
    padding-top: 40px;
    padding-bottom:40px;
    height:auto !important;
}

input.error {
    border-color: #b94a48 !important;
    color: #b94a48 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.show-grid{margin-bottom:15px}

.form-metadata {
    color: #808080;
    font-size: 80%;
}

@import "ng-grid";
@import "splash";
@import "sticky-footer";
@import "colorpicker";
@import "ng-trans";
@import "rule";
@import "icons";

// Force vertical scrollbar
html {
    overflow-y: scroll;
}

.strong{
    font-weight:bold;
}

.opacity33{
    @include opacity(0.33);
}

.column-loading {
    text-align: center;
}

.nav-pills-icon {
    text-align: center;
}

div.browse .col-md-4 {
    text-align: center;
    .nav-pills-icon {
        display: inline-block;
    }
}

.container-angular {
    margin-top: 2em;
}

.loggedInUser {
    margin: 0;
}
.loginButton {
    margin-top: 8px;
}

.gridStyle {
    height: 1000px;
    // Use super big height, so the auto-resize works correctly
}

.tab-content {
    overflow: visible;
}

.logo-chart {
    height: 38px;
    padding-left: 20px;
}

.popover {
    max-width: 500px !important;
}

#questionnaireNav > ul {
    padding-top: 20px;
}

#questionnaireNav ul {
    margin-bottom: 5px;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

#questionnaireNav ul ul {
    display: none;
}

#questionnaireNav ul ul li {
    padding-left:1em;
}

#questionnaireNav a {
    display: block;
    margin: 0 0 2px 0;
}

#questionnaireNav li.active_parent > a {
    background: #ddd;
}

#questionnaireNav li.active> a {
    /*    background:#003bb3;*/
}

#questionnaireNav li.active_parent > div > gims-questions-nav > ul,
#questionnaireNav li.active > div > gims-questions-nav > ul {
    display: block;
}

#questionnaireNav .potentialEmptyUl.mask {
    display: none !important;
    border: 1px solid red;
}

#questionnaireNav .nav {
    margin-bottom: 0 !important;
}

/* Links with .button class is not allowed in .navbar so this instruction override default behavior*/
.navbar .nav > li > a.btn.btn-default{
    color:#333;
    text-shadow:none;
    padding:4px 12px;
    background-color:#E6E6E6;
}


.badge-little {
    padding:0 !important;
    height:15px !important;
    width:15px !important;
    border:1px solid white;
}


#chartExternalLayout{
    table-layout:fixed;
    width:100%;

    #panelTamponZone{
        display:none;
        width:450px !important;
        &.panelOpened{
            display:table-cell;
        }

        @media (max-width: $screen-xs-max) {display:none !important;};

    }


}

#chartPanel{
    position:fixed;
    z-index:999;
    width:450px;
    height:100%;
    top:52px;
    right: -435px;
    background:white;
    box-shadow:0px 2px 5px rgba(0,0,0,0.5);
    padding:20px 0 100px 0;

    @media (max-width: $screen-xs-max) {
        position:static;
        width:100%;
    }

    &.visible{
        right:0;
    }

}

// Show pencil icon only when hovering
table.table {
    tr {
        .fa-pencil {
            visibility: hidden;
        }
        &:hover .fa-pencil {
            visibility: visible;
        }
    }
}

#chartOpenBtn{
    position:absolute;
    top:19px;
    left:-40px;
    width:40px;
    padding:7px;
    box-shadow:-2px 0px 2px rgba(0,0,0,0.3);
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    background:white;
    cursor:pointer;
}

#panelContent{
    overflow-y: scroll;
    height:100%;
}

.gridStyle{
    border: 1px solid rgb(212,212,212);
}

/* Extend select 2 advanced template */
.select2list .select2-search-choice {
    display:block !important;
    float:none !important;
    margin-right:5px !important;
    margin-bottom:5px !important;
    background:none !important;
    border:none !important;
    border-radius:0 !important;
}

.select2-results .hide-in-results{
    display:none ;
}

.select-label{
    line-height:1.75em;
}

.select-label-with-icon{
    padding-left: 2em !important;
    text-indent: -0.6em !important;
}

.popover-word-break + .popover .popover-content{
    word-wrap: break-word;
}


#pagefooter{
    padding:15px 0;
    height:auto;
}


.gims-full-width-container{
    width:100%;
    padding:0 20px;
    overflow-x:auto;
}

.bigtable .input-group-btn{
    padding-left:6px;
}

.bigtable {
    table-layout:fixed;
    margin-right:50px;
    margin-bottom:100px;
}
.bigtable th{
    text-overflow:ellipsis;
}
.bigtable td, .bigtable th {
    width: 150px;
}

.bigtable td.showLabels{
    width:500px;
}

.nav-tabs-centered ul.nav-tabs{
    text-align:center;
}
.nav-tabs-centered ul.nav-tabs li{
    display:inline-block;
    float:none;
}

.formula-text-field-fixed{
    position:fixed;
    width:100%;
    z-index:1031;
    top:0px;
    left:0;
    padding:15px;
    box-shadow:0px 0px 20px rgba(0,0,0,1);
    background:white;
}

.input-group-addon-clickable:hover{
    background-color:#E1E1E1;
}

// Values excluded from computing are striked-trhough (both computed and not computed)
.excluded-from-computing {
    &,
    &::placeholder {
        text-decoration: line-through;

        &::before,
        &::after
        {
            content: " "; // Try to expand the strike-trough to make it more visible
        }
    }
}

/* Differs local, dev and production instances */
body.demo {
    .navbar-fixed-top {
        @include background(repeating-linear-gradient(-45deg, $navbar-inverse-bg,$navbar-inverse-bg 30px, #7C0400 30px, #7C0400 60px));

        .navbar-brand:before {
            content: 'DEMO VERSION ';
            font-weight: bolder;
            color: white;
        }
    }
}

body.local {
    .navbar-fixed-top {
        @include background(repeating-linear-gradient(-45deg, $navbar-inverse-bg,$navbar-inverse-bg 30px, #075f7f 30px, #075f7f 60px));

        .navbar-brand:before {
            content: 'LOCAL ';
            font-weight: bolder;
            color: white;
        }
    }
}

[ui-ace] {
    @extend .form-control;
}

.navbar-nav .navbar-text.loading-widget {
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}


/* hides the spin-button for firefox */
input[type=number] {
    -moz-appearance:textfield;
}
/* hides the spin-button for chrome*/
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
