<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="application">
            <directory>./ApplicationTest</directory>
        </testsuite>
        <testsuite name="api">
            <directory>./ApiTest</directory>
        </testsuite>
    </testsuites>

    <filter>
        <blacklist>
            <!--Exclude everything from vendor and data, so code coverage statistics takes only our own code -->
            <directory>../vendor</directory>
            <directory>../data</directory>
        </blacklist>
    </filter>

    <logging>
        <!--<log type="coverage-html" target="../data/logs/report" charset="UTF-8" yui="true" hightlight="true" lowupperbound="50" highlowerbound="80"></log>-->
    </logging>
</phpunit>
