<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="Bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="application">
            <directory>./ApplicationTest</directory>
        </testsuite>
        <testsuite name="api">
            <directory>./ApiTest</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <!-- Include only our own code for code coverage statistics -->
            <directory>../module</directory>
        </whitelist>
    </filter>

    <logging>
        <!--<log type="coverage-html" target="../data/logs/tests/report" charset="UTF-8" yui="true" hightlight="true" lowupperbound="50" highlowerbound="80"></log>-->
    </logging>

    <listeners>
        <listener class="JohnKary\PHPUnit\Listener\SpeedTrapListener">
            <arguments>
                <array>
                    <element key="slowThreshold">
                        <integer>1000</integer>
                    </element>
                    <element key="reportLength">
                        <integer>15</integer>
                    </element>
                </array>
            </arguments>
        </listener>
        <listener class="PHPUnit\Runner\CleverAndSmart\TestListener">
            <arguments>
                <object class="PHPUnit\Runner\CleverAndSmart\Storage\Sqlite3Storage"/>
            </arguments>
        </listener>
    </listeners>

</phpunit>
