<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>path</key>
		<string>data/logs</string>
		<key>permissions</key>
		<string>0770</string>
		<key>recursive</key>
		<true/>
	</dict>
	<dict>
		<key>path</key>
		<string>data/cache</string>
		<key>permissions</key>
		<string>0770</string>
		<key>recursive</key>
		<true/>
	</dict>
	<dict>
		<key>path</key>
		<string>data/session</string>
		<key>permissions</key>
		<string>0770</string>
		<key>recursive</key>
		<true/>
	</dict>
  <!-- Make the CLI tools executable -->
	<dict>
		<key>path</key>
		<string>composer.phar</string>
		<key>permissions</key>
		<string>0750</string>
	</dict>
	<dict>
		<key>path</key>
		<string>vendor/zendframework/zendframework/bin/classmap_generator.php</string>
		<key>permissions</key>
		<string>0750</string>
	</dict>
	<dict>
		<key>path</key>
		<string>vendor/doctrine/orm/bin/doctrine</string>
		<key>permissions</key>
		<string>0750</string>
	</dict>
	<dict>
		<key>path</key>
		<string>vendor/doctrine/dbal/bin/doctrine-dbal</string>
		<key>permissions</key>
		<string>0750</string>
	</dict>
	<dict>
		<key>path</key>
		<string>vendor/doctrine/doctrine-module/bin/doctrine-module</string>
		<key>permissions</key>
		<string>0750</string>
	</dict>
	<dict>
		<key>path</key>
		<string>vendor/doctrine/orm/bin/doctrine.php</string>
		<key>permissions</key>
		<string>0750</string>
	</dict>
	<dict>
		<key>path</key>
		<string>vendor/phing/phing/bin/phing</string>
		<key>permissions</key>
		<string>0750</string>
	</dict>
	<dict>
		<key>path</key>
		<string>vendor/phpunit/phpunit/phpunit</string>
		<key>permissions</key>
		<string>0750</string>
	</dict>
	<dict>
		<key>path</key>
		<string>vendor/zendframework/zendframework/bin/pluginmap_generator.php</string>
		<key>permissions</key>
		<string>0750</string>
	</dict>
	<dict>
		<key>path</key>
		<string>vendor/zendframework/zendframework/bin/templatemap_generator.php</string>
		<key>permissions</key>
		<string>0750</string>
	</dict>
	<dict>
		<key>path</key>
		<string>bin/benchmark.php</string>
		<key>permissions</key>
		<string>0750</string>
	</dict>
	<dict>
		<key>path</key>
		<string>bin/build.sh</string>
		<key>permissions</key>
		<string>0750</string>
	</dict>
	<dict>
		<key>path</key>
		<string>bin/countries.php</string>
		<key>permissions</key>
		<string>0750</string>
	</dict>
	<dict>
		<key>path</key>
		<string>bin/export_actual.php</string>
		<key>permissions</key>
		<string>0750</string>
	</dict>
	<dict>
		<key>path</key>
		<string>bin/export_expected.php</string>
		<key>permissions</key>
		<string>0750</string>
	</dict>
	<dict>
		<key>path</key>
		<string>bin/import_all_country_data.sh</string>
		<key>permissions</key>
		<string>0750</string>
	</dict>
	<dict>
		<key>path</key>
		<string>bin/import_test_data.sh</string>
		<key>permissions</key>
		<string>0750</string>
	</dict>
	<dict>
		<key>path</key>
		<string>bin/install_dependencies.sh</string>
		<key>permissions</key>
		<string>0750</string>
	</dict>
	<dict>
		<key>path</key>
		<string>bin/merge_csv_actual.sh</string>
		<key>permissions</key>
		<string>0750</string>
	</dict>
	<dict>
		<key>path</key>
		<string>bin/merge_csv_expected_country.sh</string>
		<key>permissions</key>
		<string>0750</string>
	</dict>
	<dict>
		<key>path</key>
		<string>bin/merge_csv_expected_questionnaire.sh</string>
		<key>permissions</key>
		<string>0750</string>
	</dict>
	<dict>
		<key>path</key>
		<string>bin/pre-commit.sh</string>
		<key>permissions</key>
		<string>0750</string>
	</dict>
	<dict>
		<key>path</key>
		<string>node_modules/bower/bin/bower</string>
		<key>permissions</key>
		<string>0750</string>
	</dict>
	<dict>
		<key>path</key>
		<string>node_modules/jscs/bin/jscs</string>
		<key>permissions</key>
		<string>0750</string>
	</dict>
	<dict>
		<key>path</key>
		<string>node_modules/jshint/bin/jshint</string>
		<key>permissions</key>
		<string>0750</string>
	</dict>
	<dict>
		<key>path</key>
		<string>node_modules/karma/bin/karma</string>
		<key>permissions</key>
		<string>0750</string>
	</dict>
	<dict>
		<key>path</key>
		<string>node_modules/ng-annotate/build/es5/ng-annotate</string>
		<key>permissions</key>
		<string>0750</string>
	</dict>
	<dict>
		<key>path</key>
		<string>node_modules/protractor/bin/protractor</string>
		<key>permissions</key>
		<string>0750</string>
	</dict>
	<dict>
		<key>path</key>
		<string>node_modules/uglify-js/bin/uglifyjs</string>
		<key>permissions</key>
		<string>0750</string>
	</dict>
	<dict>
		<key>path</key>
		<string>node_modules/protractor/bin/webdriver-manager</string>
		<key>permissions</key>
		<string>0750</string>
	</dict>
</array>
</plist>
