<?php

/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */
$host = 'localhost';
$database = 'gims';
$username = 'postgres';
$password = '';

return [
    'db' => [
        'dsn' => "pgsql:dbname=$database;host=$host",
        'username' => $username,
        'password' => $password,
    ],
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'params' => [
                    'host' => $host,
                    'dbname' => $database,
                    'user' => $username,
                    'password' => $password,
                ],
            ],
        ],
    ],
    'rsync' => [
        'host' => '',
        'module' => '',
        'username' => '',
        'password' => '',
    ],
    'smtp' => [
        'name'              => 'mail.ecodev.ch',
        'host'              => 'mail.ecodev.ch',
        'port'              => 587,
        //'connection_class'  => 'login',
        //'connection_config' => [
        //    'username' => '@ecodev.ch',
        //    'password' => '',
        //    'ssl'      => 'tls',
        //],
    ],

    'emailOverride' => 'your@email.com',
    'domain' => 'gims.lan',
];
