<?php

/**
 * Local Configuration Override
 *
 * This configuration override file is for overriding environment-specific and
 * security-sensitive configuration information. Copy this file without the
 * .dist extension at the end and populate values as needed.
 *
 * @NOTE: This file is ignored from Git by default with the .gitignore included
 * in ZendSkeletonApplication. This is a good practice, as it prevents sensitive
 * credentials from accidentally being committed into version control.
 */
$database = 'gims';
$username = 'postgres';
$password = '';

return array(
    'session' => array(
        'name' => 'gimscookie',
        'save_path' =>  __DIR__ . '/../../data/session',
        'cookie_httponly' => true
    ),
    'db' => array(
        'dsn' => "pgsql:dbname=$database;host=localhost",
        'username' => $username,
        'password' => $password,
    ),
    'doctrine' => array(
        'connection' => array(
            'orm_default' => array(
                'params' => array(
                    'dbname' => $database,
                    'user' => $username,
                    'password' => $password,
                ),
            ),
        ),
    ),
    'rsync' => array(
        'host' => '',
        'module' => '',
        'username' => '',
        'password' => '',
    ),
    'smtp' => array(
        'name'              => 'mail.ecodev.ch',
        'host'              => 'mail.ecodev.ch',
        //'connection_class'  => 'login',
        'port'              => 587,
        //'connection_config' => array(
        //    'username' => '@ecodev.ch',
        //    'password' => '',
        //    'ssl'      => 'tls',
        //),
    ),

    'emailOverride' => 'your@email.com',
    'domain' => 'gims.lan'
);
